*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    background-color:#f0f8ff;
    border-radius: 10px;
    margin: 100px auto 0;
    padding: 50px;
     text-align: center;
    box-shadow:0px 0px 20px black;
}
.container #heading{
     font-size: 3rem;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.container input{
    padding: 10px 20px;
    font-size: 1.3rem;
    margin: 20px auto 20px;
}
.container button{
    padding: 10px 20px;
    font-size: 1.3rem;
    background-color:#0d6efd; 
    color: white;
    border: transparent;
}
.container #h1{
    margin-inline: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    width: 55%;
}
.container #h3{
    font-family: serif;
    color: maroon;
    margin: 8px;
    display: none;
    font-size: 16px;
}
@media (max-width:576px){
    .container{
        width: 90%;
    }
    .container input{
        padding: 10px 15px;
        font-size: 15px;
    }
    .container #heading{
        font-size: 2rem;
    }
    .container #h1{
        width: 70%;
        padding: 5px 10px;
        font-size: 1.2rem;
    }
}
@media (min-width:577px) and (max-width:900px){
    .container{
        width: 80%;
    }
     .container #heading{
        font-size: 2.5rem;
    }
     .container #h1{
        width: 70%;
        padding: 10px 10px;
        font-size: 1.2rem;
    }


}
